<template>
  <div id="app">
    <h1>efsX - a simplified store for Vue.js</h1>

    <div class="example">
      propertyA: {{propertyA}}
    </div>
    <div class="example">
      propertyB: {{propertyB}} <input type="text" v-model="propertyB">
    </div>
    <div class="example">
      propertyC: {{propertyC}} <input type="text" v-model="propertyC"> (mutation duplicates the value)
    </div>
    <div class="example">
      propertyD: {{propertyD}} (returns propertyD through a getter)
    </div>
    <div class="example">
      you can access a property through the getter function: <br/>
      $store.getter('iam.nested.aswell') : {{$store.getter('iam.nested.aswell')}} <br/>
      or you can access the raw value:  <br/>
       $store.getter('iam.nested.aswell', true) : {{$store.getter('iam.nested.aswell', true)}} <br/>
    </div>
  </div>
</template>

<script>
import {mapToComputed} from './index'

export default {
  name: "app",
  computed: {
    propertyA () { return this.$store.state.propertyA},
    ...mapToComputed([{propertyB:'really.nested.property'}, {propertyC: 'really.notSo'}, {propertyD: 'iam.nested.aswell'}]),
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 600px;
  margin: auto;
}
.example {
  text-align: left;
  margin-bottom: 20px;
}
</style>
